.footer{
    background: linear-gradient(to top, blue, black );
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nombre{
    color: rgb(3, 163, 163);
    
}

.LOGO{
    width: 150px;
}

a{

    color: aqua;
    width: 50px;
    height: 50px;
}

@media screen and (max-width:460px){
    .footer{
        justify-content: center;
    }
}


